/* ------------------------------------------------ Special paddings/margins/text */

.uppercase {
    text-transform: uppercase;
}

.bookTickets {
    text-decoration: none;
}

.heading-font {
    font-family: 'EB Garamond', sans-serif;
}

.underline {
    border-bottom: 3px solid #901c1f;
}

/* ------------------------------------------------ Colors */

.gold-color-font {
    color: #e8c25c;
}

.red-color-font {
    color: #901c1f;
}

.red-color-background {
    background-color: #901c1f;
}

.white-color-background {
    background-color: #fff;
}

/* ------------------------------------------------ Heading */

.logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    background-color: #fff;
    max-height: 250px;
    width: auto;
}

.bg-light {
    background-color: #fff;
}

.navbar-expand-md {
    padding: 0;
}

.navbar-expand-md .navbar-collapse {
    background-color: #fff;
}

.nav-item {
    font-family: 'EB Garamond', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px 0;
    border-bottom: 3px solid #fff;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

.nav-item:hover {
    border-bottom: 3px solid #901c1f;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

li a {
    color: #e5af27;
    
}

li a:hover {
    color: #e8c25c;
    text-decoration: none;
}

.mainImage img {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.bookTickets {
    margin-top: 2em;
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
}

.bookTickets:hover {
    text-decoration: none;
}

.new-album {
    text-align: center;
    font-size: 3em;
    display: none;
    visibility: hidden;
}

/* ------------------------------------------------ Section */

.albumInfo {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

.albumInfo p {
    margin-top: 1em;
    color: #ead187;
}

.bookTickets {
    margin-bottom: 3em;
}

.bookTickets a:hover {
    color: #e8c25c;
}

.album-cover {
    text-align: center;
    padding-left: 0;
}

.album-cover img {
    max-height: 250px;
    width: auto;
    margin-top: 8em;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

.buy-now {
    text-align: center;
    margin-top: 3em;
}

.buy-now h5 {
    position: relative;
}

.buy-now h5:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 70%;
    right: 0;
    height: 4em;
    border-top: 1px solid black;
    z-index: -1;
    color: #e8c25c;
}

.buy-now h5:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 70%;
    height: 4em;
    border-top: 1px solid black;
    z-index: -1;
}

.buy-now p {
    margin-bottom: 0;
}

.buy-now .btn-light {
    width: 100%;
    color: #901c1f;
    background-color: white;
    border-radius: 0;
    border-color: #fff;
}

.buy-now .btn-light:hover {
    background-color: #901c1f;
    color: white;
}

.music-video {
    margin-top: 3em;
}

/* ------------------------------------------------ Modal */

.modal-content {
    background-color: #FFF4E3;
}

.tracklist-button {
    color: #901c1f;
    border: 2px solid #ead187;
    border-radius: 0;
}

.tracklist-button:hover {
    background-color: #901c1f;
    color: white;
}

.trackList li {
    color: #491111;
}

.close-modal {
    color: #901c1f;
    border: 2px solid #ead187;
    border-radius: 0;
    background-color: #fff;
}

.close-modal:hover {
    background-color: #901c1f;
    color: white;
    border-color: #fff;
}

/* ------------------------------------------------ Tour */

.tour-dates {
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
}

.event-listing {
    margin-top: 2em;
}


.event-item {
    margin-top: 1em;
}

.event-item span {
    text-transform: uppercase;
    color: #901c1f;
}

.event-item a {
    color: #901c1f;
    border: 2px solid #ead187;
    border-radius: 0;
    background-color: #fff;
}

.event-item a:hover {
    background-color: #901c1f;
    color: white;
    border-color: #fff;
}

/* ------------------------------------------------ The Band */

.body-theband {
    background-image: url("https://www.jack969.com/wp-content/uploads/sites/13/2017/02/Fleetwood-Macs-Rumours-Turns-40-1024x576.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 400px;
}

.first-image {
    margin-top: 2em;
}

.first-image img {
    max-width: 100%;
    height: auto;
}

.container-upper p, .container-lower p {
    padding-top: 2em;
    padding-bottom: 2em;
}

.container-lower {
    margin-top: 20em;
}

.form {
    text-align: center;
    background-color: #fff;
    padding-top: 7em;
    padding-bottom: 3em;
    margin-bottom: -4em;
}

form .submit {
    width: 100%;
    color: #901c1f;
    background-color: white;
    border-radius: 0;
    border-color: #fff;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

form .submit:hover {
    background-color: #901c1f;
    color: white;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #ead187;
    border-radius: 0;
    text-align: center;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    opacity: .9;
}


/* ------------------------------------------------ Albums */


.image-tiles img {
    max-height: 300px;
    width: auto;
    padding-top: 2em;
    text-align: center;
    display: block;
    margin: auto;
    transition: .5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.album-item:hover .overlay {
    opacity: .8;
}

.overlay .link {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay .link a {
    text-decoration: none;
    transition-duration: .1s;
}

.overlay .link a:hover {
    color: #901c1f;
    font-size: 22px;
    transition-duration: .1s;
}

/* ------------------------------------------------ Footer */

footer {
    text-align: center;
    margin-top: 5em;
    height: 100px;
    background-color: #e8c25c;
}

.copyright-footer {
    font-size: .8em;
    margin-top: 1.5em;
} 

.social-footer {
    font-size: 2em;
    margin-top: .2em;
    letter-spacing: .3em;
}

.social-footer a {
    color: #FFF4E3;
}


/* ------------------------------------------------ Media */

@media (min-width: 767px) {
    .viewport-container {
        min-height: 1100px;
        height: 100vh;
    }
    .nav-item {
        padding: 30px;
        width: 150px;
        text-align: center;
    }
    ul {
        margin: 0 auto;
    }
    li a {
        color: #ead187;
    }
    .albumInfo {
        text-align: left;
        margin-top: 10em;
        margin-bottom: 10em;
    }
    footer {
        height: 65px;
    }
    .body-theband {
        background-size: 700px;
    }
    .container-lower {
        margin-top: 30em;
    }
}

@media (min-width: 767px) and (min-height: 1024px) {
    .new-album {
        display: block;
        visibility: visible;
    }
}

@media (min-width: 1024px) {
    .body-theband {
        background-size: 1000px;
    }
}

@media (min-width: 1024px) and (min-height: 1300px) {
    .mainImage img {
        margin-top: 10em;
    }
}
