/* ------------------------------------------------ Special paddings/margins/text */

.uppercase {
    text-transform: uppercase;
}

.bookTickets {
    text-decoration: none;
}


/* ------------------------------------------------ Colors */

.gold-color-font {
    color: #e8c25c;
}

.red-color-background {
    background-color: #901c1f;
}


/* ------------------------------------------------ Heading */

.logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
}

.nav-item {
    font-family: 'EB Garamond', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px 0;
}

li a {
    color: #e5af27;
}

li a:hover {
    color: #e8c25c;
}

.mainImage img {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.bookTickets {
    margin-top: 2em;
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
}

.bookTickets:hover {
    text-decoration: none;
}

.new-album {
    text-align: center;
    font-size: 3em;
    display: none;
    visibility: hidden;
}

/* ------------------------------------------------ Section */

.albumInfo {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

.albumInfo p {
    margin-top: 1em;
    color: #ead187;
}

.bookTickets {
    margin-bottom: 3em;
}

.album-cover img {
    
}
/* ------------------------------------------------ Modal */

.modal-content {
    background-color: #FFF4E3;
}

.tracklist-button {
    color: #901c1f;
    border: 2px solid #ead187;
    border-radius: 0;
}

.tracklist-button:hover {
    background-color: #901c1f;
    color: white;
}

.trackList li {
    color: #491111;
}

/* ------------------------------------------------ Media */

@media (min-width: 767px) {
    .viewport-container {
        min-height: 1100px;
        height: 100vh;
    }
    .nav-item {
        padding: 30px;
        width: 150px;
        text-align: center;
    }
    ul {
        margin: 0 auto;
    }
    li a {
        color: #ead187;
    }
    .albumInfo {
        text-align: left;
        margin-top: 10em;
        margin-bottom: 10em;
    }
   
}

@media (min-width: 767px) and (min-height: 1024px) {
    .new-album {
        display: block;
        visibility: visible;
}
}

@media (min-width: 1024px) and (min-height: 1300px) {
    .mainImage img {
        margin-top: 10em;
    }
}
